{
  "branches": ["main"],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "conventionalcommits"
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/exec", {
      "prepareCmd": "sed -i 's|<package-version>[0-9\\.]+</package-version>|<package-version>${nextRelease.version}</package-version>|' mdd/package-meta-data.xml",
      "publishCmd": "/bin/true"
    }],
    ["@semantic-release/git", {
      "assets": "mdd/package-meta-data.xml",
      "message": "chore(release): Update NSO package version to ${nextRelease.version} [skip ci]"
    }]
  ]
}
